<h4 class="profile">First Name: {{user.firstname}}</h4><br />
<h4 class="profile">Last Name: {{user.lastname}}</h4><br />
<h4 class="profile">Date of Birth: {{user.dateofbirth}}</h4><br />
<h4 class="profile">Gender: {{user.gender}}</h4><br />
<h4 class="profile">Email: {{user.email}}</h4><br />
<h4 class="profile">Phone Number: {{user.phonenumber}}</h4><br />
<div class="update">
  <form>
    <h2><a href="/users/update" value="Update">Update</a></h2>
    <h2><a
        href="http://localhost:3000/users/patient1"
        value="Home"
      >Home</a></h2>
  </form>
</div>