<h4 class ="profile">First Name: {{firstname}}</h4><br>
<h4 class ="profile">Last Name: {{lastname}}</h4><br>
<h4 class ="profile">User Name: {{username}}</h4><br>
<h4 class ="profile">Date of Birth: {{dateofbirth}}</h4><br>
<h4 class ="profile">Gender: {{gender}}</h4><br>
<h4 class ="profile">City: {{city}}</h4><br>
<h4 class ="profile">Email: {{email}}</h4><br>
<h4 class ="profile">Phone Number: {{phonenumber}}</h4><br>
 <div class="update">
<form>
<input type=button id="update" onClick="parent.location='/update'" value='Update'>
</form>
</div>
